:root {
  --color-background: #151515;
  --color-intermediate-background: #1A1A1C;
  --color-text: #D1D1D1;
  --color-text-highlighted: #FFFFFF;
  --color-text-secondary: #565656;
  --color-primary: #FF7A00;
  --color-secondary: #DD0000;
  --color-tertiary: #0031E0;
}
