// TODO: improve the light color palette
:root {
  --color-background: #D1D1D1;
  --color-intermediate-background: #B1B1B1;
  --color-text: #151515;
  --color-text-highlighted: #000000;
  --color-text-secondary: #2a2a2a;
  --color-primary: #0031E0;
  --color-secondary: #DD0000;
  --color-tertiary: #FF7A00;
}
