@layer base {
  :root {
    --color-background: 211 211 211;
    --color-intermediate-background: 181 181 181;
    --color-text: 21 21 21;
    --color-text-highlighted: 0 0 0;
    --color-text-secondary: 14 14 14;
    --color-primary: 0 49 224;
    --color-secondary: 221 0 0;
    --color-tertiary: 255 122 0;
  }
}