@layer base {
  :root {
    --color-background: 211 211 211;
    --color-intermediate-background: 201 201 201;
    --color-text: 21 21 21;
    --color-text-highlighted: 0 0 0;
    --color-text-secondary: 14 14 14;
    --color-primary: 14 59 67;
    --color-secondary: 53 114 102;
    --color-tertiary: 163 187 173;
    --color-gray: 151 151 151;
  }
}