@media (prefers-color-scheme: light) {
  :root {
    --color-background: #D1D1D1;
    --color-intermediate-background: #B1B1B1;
    --color-text: #151515;
    --color-primary: #0031E0;
    --color-secondary: #DD0000;
    --color-tertiary: #FF7A00;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #151515;
    --color-intermediate-background: #1A1A1C;
    --color-text: #D1D1D1;
    --color-primary: #FF7A00;
    --color-secondary: #DD0000;
    --color-tertiary: #0031E0;
  }
}